<!DOCTYPE html>
<html>
<head>
<title>Kurslar Siyahisi</title>
</head>
<body>
    <h1>Kurslarimiz</h1>
    <h2>Web Inkisafi 101</h2>
HTML,CSS ve JavaScript-den istifada ederek veb saytlarin nece yaradilacagini öyrenin. Bu kurs size front-end veb
inkisafinin esaslarini öyredecek.
    <ul>
        <li>
            HTML
        </li>
        <li>
            CSS
        </li>
        <li>
            JavaScript
        </li>
    </ul>
    <h2>Python Proqramlasdirma</h2>
Python dilinin esaslarini öyrenerek melumat analizi, veb inkisaf ve avtomatlasdirma sahelerinde bacariqlarinizi inkisaf
etdirin.
    <ul>
        <li>
            Python
        </li>
        <li>
            Django
        </li>
    </ul>
    <h2>Verilenler Bazasi Dizayni</h2>
SQL dili ve verilenler bazasi dizayn prinsipleri ile tanis olun. Bu kursda, effektiv verilenler bazasi sistemlerinin neca
qurulacagini öyreneceksiniz.
    <ul>
        <li>
            MySQL
        </li>
        <li>
            SQLite
        </li>
        <li>
            MsSQL
        </li>
    </ul>
Daha cox melumat ucun bizim ile elaqe saxlayin: <a href="info@kurslarimiz.com">info@kurslarimiz.com</a>
  </body>
</html>
